.navbar{
  font-family: 'Montserrat', sans-serif;
  
}
.nav-item{
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-right: 10px;
  padding: 14px 12px;
  margin: 10px 8px;

}
.nav-item:hover{
 color: #363636;
}
.active-nav-item{
  color: #1b1b1b;
}

.nav-icon{
  font-size: 22px;
  cursor: pointer;
  color: #dddddd;
}

.nav-icon:hover{
  color: rgb(207, 207, 207) ;
}

