.text-overlay {
  position: absolute;
  background: rgba(53, 53, 53, 0.616);
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  bottom: 0;
  transition: 0.4s;
}
.text-overlay:hover {
  opacity: 1;
}

.text-overlay div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.text-overlay .icon {
  font-size: 50px;
  cursor: pointer;
}
